*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
header h1{
    width: 100%;
    height: 60px;
    background-color: darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
}